<header th:fragment="header">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top nav-danger">
		<a class="navbar-brand" th:href="@{/}">aSpring Project</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:each="menuItem : ${@prototypeProperties.menu}">
					<a class="nav-link" th:href="@{${menuItem.path}}" th:text="#{${menuItem.title}}"></a>
				</li>
			</ul>
			<a class="btn btn-info nav-link" href="#" th:text="#{templates.areas.header.menu.login}"></a>
		</div>
	</nav>
</header>
